<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<description>dao 配置处</description>


	<bean id="daoTemplate" abstract="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="commonDAO" class="net.erqo.framework.dao.hibernate3.CommonDAOHibernate"
		parent="daoTemplate" abstract="true" />


</beans>
